/* Body Styling */
body {
    background-image: url('https://img.freepik.com/free-vector/national-doctor-s-day-hand-drawn-background_23-2149438164.jpg?w=996&t=st=1711287560~exp=1711288160~hmac=aa0753808ef01b2873e08ea8d87d0caafa7d595ccd8a0dff23c01d4dbcfd70b4');
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
  }
  
  /* Health History Container */
  .health-history-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px; /* Add round corners */
    background-color: rgba(65, 217, 255, 0.8); /* White background with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
  }
  
  /* Form Formatting */
  .health-note-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .health-note-form label {
    font-weight: bold;
    font-family: 'Raleway', sans-serif; /* Use Raleway font for labels */
    color: #333; /* Darker text color */
  }
  
  .health-note-form textarea,
  .health-note-form input {
    border: 1px solid #ccc;
    border-radius: 10px; /* Round corners for input fields */
    padding: 10px;
    font-family: inherit; /* Inherit font family from body */
    color: #666; /* Lighter text color for readability */
  }
  
  .health-note-form button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px; /* Round corners for button */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for button */
    transition: all 0.2s ease-in-out; /* Smooth transition on hover */
  }
  
  .health-note-form button:hover {
    background-color: #45a049; /* Green shade on hover */
  }
  
  /* Saved Notes Section */
  .saved-notes {
    max-height: 50%;
    overflow-y: auto;
    border-radius: 10px; /* Round corners for saved notes section */
    background-color: rgba(255, 255, 255, 0.7); /* White background with transparency */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 10px;
    margin-top: 20px;
  }
  
  .saved-notes h3 {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif; /* Use Lato font for headings */
    color: #007bff; /* Blue heading color */
  }
  
  .saved-notes ul {
    list-style: none;
    padding: 0;
  }
  
  /* Saved Notes List Items */
  .saved-notes li {
    border: none; /* Remove border */
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px; /* Round corners for list items */
    background-color: rgba
  }  